<div class="contact contacmarg">
    <div class="container  ">
        <form id="contact" action="" method="post">
            <h3>Contactanos</h3>
            <h4>Te responderemos en horario de 8:00 am - 4:00 pm!</h4>
            <fieldset>
                <input placeholder="Escribe aqui tu nombre" type="text" tabindex="1" required autofocus>
            </fieldset>
            <fieldset>
                <input placeholder="Escribe aqui tu correo electronico" type="email" tabindex="2" required>
            </fieldset>
            <fieldset>
                <input placeholder="Escribe aqui tu tu numero de celular" type="tel" tabindex="3" required>
            </fieldset>

            <fieldset>
                <textarea placeholder="Escribe aqui tu mensaje..." tabindex="5" required></textarea>
            </fieldset>
            <fieldset>
                <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
            </fieldset>
        </form>


    </div>
</div>