/*Footer*/

footer {
    width: 100%;
    background-color: #343a40;
    color: white;
}

.container-footer-all {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.container-body {
    display: flex;
    justify-content: space-between;
}

.column1 {
    max-width: 400px;
}

.column1 h1 {
    font-size: 22px;
}

.column1 p {
    font-size: 14px;
    color: #ffffff;
    margin-top: 20px;
}

.column2 {
    max-width: 400px;
}

.column2 h1 {
    font-size: 22px;
}

.row {
    display: flex;
    margin-top: 20px;
}

.row i {
    width: 36px;
    height: 36px;
}

.row label {
    margin-left: 10px;
    color: #ffffff;
}

.column3 {
    max-width: 400px;
}

.column3 h1 {
    font-size: 22px;
}

.row2 {
    margin-top: 20px;
    display: flex;
}

.row2 i {
    width: 36px;
    height: 36px;
}

.row2 label {
    margin-left: 10px;
    max-width: 140px;
}

.container-footer {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.copyright a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.informacion a {
    text-decoration: none;
    color: white;
}


/* Responsive Designnn*/

@media screen and (max-width:800px) {
    .textos-hero h1 {
        text-align: center;
        font-size: 50px;
    }
    .titulo {
        font-size: 35px;
    }
    .titulo.left {
        text-align: center;
    }
    .info p {
        text-align: center;
    }
    /*section*/
    .website {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .website iframe {
        width: 100%;
        padding-bottom: 15px;
    }
    .website .contenedor-textos-main {
        width: 100%;
    }
    /*cards*/
    .card {
        width: 90%;
        margin-bottom: 20px;
    }
    /* galeria*/
    .galeria-cont>img {
        width: 48%;
    }
    /* ultima seccion*/
    .last-section img {
        width: 98%;
    }
    .last-section .contenedor-textos-main {
        width: 98%;
        margin-bottom: 20px;
    }
    .container-body {
        flex-wrap: wrap;
    }
}

@media screen and (max-width:400px) {
    .titulo,
    .textos-hero h1 {
        font-size: 30px;
    }
    .textos-hero p {
        font-size: 20px;
        text-align: center;
    }
    .card {
        height: 380px;
    }
    .website .contenedor-textos-main {
        margin-bottom: 30px;
    }
    .galeria-cont>img {
        width: 97%;
    }
    .container-body {
        display: block;
    }
    .column2,
    .column3 {
        margin-top: 40px;
    }
    .container-footer {
        display: block;
    }
    .informacion {
        padding-top: 10px;
    }
}