<footer>

    <div class="container-footer-all">
        <div class="container-body">

            <div class="column1">
                <h1>Mas información </h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore, earum commodi! Autem, tempora vitae? </p>
            </div>
            <div class="column2">

                <h1>Redes Sociales</h1>

                <div class="row">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    <label> Siguenos en Facebook</label>
                </div>

                <div class="row">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <label> Siguenos en Twitter</label>
                </div>
                <div class="row">
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                    <label> Siguenos en googl+</label>
                </div>
                <div class="row">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                    <label> Siguenos en Instagram</label>
                </div>

            </div>


            <div class="column3">
                <h1>Información Contactos</h1>

                <div class="row2">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <label>Cercado De Lima</label>
                </div>
                <div class="row2">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <label>123123@gmail.com</label>
                </div>
                <div class="row2">
                    <i class="fa fa-mobile-phone" aria-hidden="true"></i>
                    <label>986123123</label>
                </div>



            </div>

        </div>

    </div>
    <div class="container-footer">
        <div class="copyright">
            &copy; 2020 Todos los derechos Reservados |
            <a href="index.html"> <img class="logobot" src="img/logo-1.png" alt=""> </a>
        </div>

        <div class="informacion">
            <a href="#"> Informacion Compañia </a> | <a href="#">Privacidad y Política </a> | <a href="#"> Terminós y Condiciones </a>
        </div>

    </div>


</footer>