<main>
    <div class="banner-home">
        <app-banner></app-banner>
    </div>
</main>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a href="https://api.whatsapp.com/send?phone=51938263506&text=Hola%20quisiera%20informaci%C3%B3n%20sobre%20asesor%C3%ADa%20legal" class="float" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
</a>

<p class="bg-danger">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, explicabo aut accusantium dolore repudiandae excepturi voluptate voluptates nihil, repellat earum officiis quaerat repellendus officia pariatur hic veritatis nemo vitae cupiditate temporibus
    molestias molestiae dicta dolores provident aspernatur? Vero rem tenetur veniam ipsam deleniti, ipsum, dolor eligendi natus eos esse repellendus?loremx10000000

</p>