<section class="banner-index">
  <div id="banner--carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner banner--container">
      <div class="carousel-item banner-item active">
        <h1>Our work<br /> clients! </h1>
        <p> Lorem ipsum dolor sit amet, consec tetuer
          <br /> adipiscing elit. Praesent vestibu lum molestie
          <br />lacus. Aenean nonummy hendrerit
          <br />maurishasellus </p>
        <div class="banner-cta">
          <div class="cta-1">
            <a href="#">Click Here</a>
          </div>
        </div>
      </div>
      <div class="carousel-item banner-item">
        <h1>Our work<br /> clients! </h1>
        <p> Lorem ipsum dolor sit amet, consec tetuer
          <br /> adipiscing elit. Praesent vestibu lum molestie
          <br />lacus. Aenean nonummy hendrerit
          <br />maurishasellus </p>
        <div class="banner-cta">
          <div class="cta-1">
            <a href="#">Click Here</a>
          </div>
        </div>
      </div>
      <div class="carousel-item banner-item">
        <h1>Our work<br /> clients! </h1>
        <p> Lorem ipsum dolor sit amet, consec tetuer
          <br /> adipiscing elit. Praesent vestibu lum molestie
          <br />lacus. Aenean nonummy hendrerit
          <br />maurishasellus </p>
        <div class="banner-cta">
          <div class="cta-1">
            <a href="#">Click Here</a>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-next" href="#banner--carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>