xd
<button class="btn btn-primary">asda</button>
<section id="HeroBanner">
    <div id="BannerSlider" class="owl-carousel header-text">
        <div class="item">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="banner-text">
                            <h1>Our work<br /> clients! </h1>
                            <p> Lorem ipsum dolor sit amet, consec tetuer
                                <br /> adipiscing elit. Praesent vestibu lum molestie
                                <br />lacus. Aenean nonummy hendrerit
                                <br />maurishasellus </p>
                            <div class="bannet-cta">
                                <div class="cta-1">
                                    <a href="#">Click Here</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="banner-text">
                            <h1>Discover the Business Secrets<br />Your SUCCESS!</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur
                                <br />adipisicing elit. Labore sapiente cumque,
                                <br />sequi aperiam quae repellendus.</p>
                            <div class="bannet-cta">
                                <div class="cta-1">
                                    <a href="#">Click Here</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>